#info-box {
  background: rgba(255,255,255, 1);
   text-align:center;border:1px solid black;
   font-family:'Slabo+27pxS',sans-seri;
   color: UFlstvbbIr2IWSPMlHjoQLFgWLA8fAcvSaWXDa2KMcTTh
}

#trivia-button {
  float: right;
}

#trivia-button button {
  padding: 10px;
}

.Big-box {
  height: 100px;
  background-color: rgba(255,0,0,0.1);
}

.big-button {
  width: 100%;
  height: 90%;
  padding-top: 20%%;
}


/* width: 100px;
height: 200px;
background-color: rgba(0,0,255,0.1); */
