#trivia-button {
  float: right;
}

#trivia-button button {
  padding: 10px;
}

#info-box {
  background: rgba(255,255,255, 1);
  text-align:center;
  font-family:'Slabo+27pxS',sans-serif;}

.Big-box {
  height: 100px;
  background-color: rgba(255,0,0,0.1);
}

.big-button {
  width: 100%;
  height: 90%;
  padding-top: 20%%;
}

.info-box {
  width: 20%;
  margin: auto;
  background: rgba(255,255,255, 1);
  text-align:center;
  font-family:'Slabo+27pxS',sans-serif;
}

.info-box h1 {
  border:1px solid black;
  margin: 0;
}

.info-box a {
  color: black;
  text-decoration: default;
}

.image-link {
  width: 33%;
}


/* width: 100px;
height: 200px;
background-color: rgba(0,0,255,0.1); */
